---
layout: home
permalink: /wir
title: Über uns
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3 class="color-primary mb40 mb-xs-24">{{ site.data.pages.wir.top_title }}Befreiungsinfo für Deine Mailbox</h3>
                <p class="lead">
                    {{ site.data.pages.wir.lead }}
                    Was Dich erwartet.<br>Wie häufig kommen News.<br>Was Du von alldem hast.
                </p>
            </div>
        </div>
    </div>
</section>

{% include newsletter-section.html %}
{% include footer.html bgcolor=site.data.pages.index.meta_footercolor %}
