---
layout: home
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">{{ site.data.pages.wir.top_title }}</h4>
                <p class="lead mb64"> {{ site.data.pages.wir.lead }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="image-slider slider-all-controls controls-inside">
                    <ul class="slides">
                        {% for item in site.data.wir.slider_images %}
                            <li> <img alt="{{ item.image_alt }}" src="{{ item.image }}"> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% include footer.html bgcolor=site.data.pages.wir.meta_footercolor %}
