<footer class="footer-2 bg-{{ include.bgcolor }}">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
                <ul class="list-inline social-list spread-children">
                    <li><a href="https://twitter.com/freelancers_ffm"><i class="icon icon-sm ti-twitter-alt"></i></a></li>
                    <li><a href="https://www.facebook.com/freelancersandfriends/"><i class="icon icon-sm ti-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/freelancers_and_friends/"><i class="icon fa fa-instagram icon-sm"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row fade-half">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
                <ul class="list-inline social-list spread-children">
                    <li><a href="/impressum">Impressum</a></li>
                    <li><a href="/datenschutz">Datenschutz</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

