<section class="image-bg overlay">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="{{ site.data.newsletter_options.bg_image }}">
    </div>
    <div class="container">
        <div class="row mb40 mb-xs-24">
            <div class="col-sm-12 text-center">
                <h3 class="mb8">{{ site.data.newsletter_options.title }}</h3>
                <p>{{ site.data.newsletter_options.subtitle }}</p>
                <p>
                  <a href="{{ site.data.newsletter_options.subscribe_url }}">
                    <button class="btn btn-lg btn-filled mb0">{{ site.data.newsletter_options.subscribe_button_text }}</button>
                  </a>
                </p>
            </div>
        </div>
    </div>
</section>

