<div class="nav-container">
    <nav>
        <div class="nav-bar text-center">
            <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
                <a href="#">
                    <div class="vnu"><img alt="logo" class="image-xxs" src="/img/f_f_twitter.gif"></div>
                </a>
            </div>

            <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs">
                <ul class="menu inline-block pull-right">
                  {% for item in site.data.top_navigation.left_nav %}
                    <li>
                        <a href="{{ item.url }}">{{ item.display_text }}</a>
                        {% if item.url == '/events' or item.display_text == 'Veranstaltungen' %}
                          <ul>
                            {% for event in site.events %}
                            <li><a href="{{ event.url }}">{{ event.title }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                    </li>
                  {% endfor %}
                </ul>
            </div>

            <div class="col-sm-12 col-md-5 pb-xs-24">
                <ul class="menu">
                  {% for item in site.data.top_navigation.right_nav %}
                    <li>
                        <a href="{{ item.url }}">{{ item.display_text }}</a>
                        {% if item.url == '/events' or item.display_text == 'Veranstaltungen' %}
                          <ul>
                            {% for event in site.events %}
                            <li><a href="{{ event.url }}">{{ event.title }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs">
            <i class="ti-menu"></i>
        </div>
    </nav>
</div>
