---
layout: home
---
<section>
    <div class="container">
        <div class="row v-align-children">
            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
              <img class="cast-shadow" alt="{{ page.image_alt | xml_escape }}" src="{{ page.image }}">
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <h3>{{ page.title }}</h3>
                <p>
                    {{ page.lead | markdownify }}
                </p>
                <a class="btn-filled btn" href="{{ page.cta_url }}">
                    {{ page.cta }}
                </a>
            </div>
        </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <div class="col-sm-12">
                <h4 class="uppercase mb16">{{ page.second_title }}</h4>
                <p class="lead mb64"> {{ page.second_lead | markdownify }} </p>
            </div>
        </div>
    </div>
</section>

<section class="image-slider slider-all-controls controls-inside pt0 pb0 height-70">
    <ul class="slides">
        {% for item in page.slider_images %}
            <li class="overlay image-bg">
                <div class="background-image-holder">
                  <img class="background-image" alt="{{ item.image_alt | xml_escape }}" src="{{ item.image }}">
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{% include footer.html bgcolor=page.meta_footercolor %}
