---
layout: home
---
<section>
    <div class="container">
        <div class="row v-align-children">
            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
              <img class="cast-shadow" alt="{{ page.image_alt | xml_escape }}" src="{{ page.image }}">
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                <h3>{{ page.title }}</h3>
                <p>
                    {{ page.lead | markdownify }}
                </p>
                <a class="btn-filled btn" href="{{ page.cta_url }}">
                    {{ page.cta }}
                </a>
            </div>
        </div>

    </div>

</section>

<section>
    <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-5">
                <h3>{{ page.second_title }}</h3>
                <p class="lead mb40">
                    {{ page.second_lead | markdownify }}
                </p>

                <div class="overflow-hidden mb32 mb-xs-24">
                    <i class="ti-package icon icon-sm pull-left"></i>
                    <h6 class="uppercase mb0 inline-block p32">All Inclusive Package</h6>
                </div>
                <div class="overflow-hidden mb32 mb-xs-24">
                    <i class="ti-medall-alt icon icon-sm pull-left"></i>
                    <h6 class="uppercase mb0 inline-block p32">Foundry Club Access</h6>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-1 text-center emphasis">
                    <h5 class="uppercase">Admit One</h5>
                    <span class="price">$89</span>
                    <p class="lead">Per Ticket</p>
                    <a class="btn btn-white btn-lg" href="#">Ich will<br></a>
                    <p>
                        <a href="#">Contact Us for</a>
                        <br> large ticket volumes
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="image-slider slider-all-controls controls-inside pt0 pb0 height-70">
    <ul class="slides">
        {% for item in page.slider_images %}
            <li class="overlay image-bg">
                <div class="background-image-holder">
                  <img class="background-image" alt="{{ item.image_alt | xml_escape }}" src="{{ item.image }}">
                </div>
            </li>
        {% endfor %}
    </ul>
</section>

{% include footer.html bgcolor=page.meta_footercolor %}
